:root { 
--indigo_A200_01:#4b6bfb; 
--blue_A400:#3479ff; 
--green_A700_01:#00c75b; 
--red_400:#eb5757; 
--green_A100:#cdffd2; 
--gray_900_19:#101e3619; 
--black_900_01:#101010; 
--blue_gray_900_02:#263238; 
--deep_orange_A700:#e91c00; 
--blue_gray_900_01:#333333; 
--pink_500:#ff335b; 
--blue_gray_900:#292d34; 
--deep_purple_A200:#6952ff; 
--purple_A200:#ff52f8; 
--deep_orange_100:#ffb3b3; 
--teal_A700:#09b7b0; 
--blue_900:#0052b5; 
--gray_400:#bdbdbd; 
--blue_gray_100:#d9d9d9; 
--gray_800:#3b3c4a; 
--blue_gray_500:#6e6b8f; 
--amber_100:#ffecbe; 
--deep_purple_50:#efebff; 
--indigo_200:#8eb2dd; 
--black_900_11:#00000011; 
--indigo_A200_0c:#4b6bfb0c; 
--cyan_400_01:#17c4bd; 
--pink_500_02:#e43153; 
--black_900_19:#00000019; 
--pink_500_01:#e43152; 
--black_900_14:#00000014; 
--gray_700_01:#595959; 
--indigo_600:#465e9c; 
--blue_gray_50:#f2f0f2; 
--blue_gray_100_01:#cccccc; 
--purple_900_01:#573283; 
--gray_50:#f9fafc; 
--pink_400_01:#f44364; 
--gray_500_89:#90909089; 
--gray_500_01:#8f8f8f; 
--gray_500_03:#97989f; 
--gray_500_02:#a7a6a6; 
--purple_800:#693183; 
--pink_400:#f44565; 
--purple_400:#b43ae5; 
--indigo_100_01:#b9caf7; 
--purple_A400_01:#db00d3; 
--blue_gray_200:#b9bec7; 
--gray_500:#a1a1aa; 
--gray_900:#212121; 
--orange_500:#ff9800; 
--gray_100:#f6f6f7; 
--indigo_700:#2a4e96; 
--green_A700:#08b71a; 
--amber_A700:#e9a800; 
--white_A700_14:#ffffff14; 
--gray_200_01:#ebebeb; 
--purple_900:#60087a; 
--gray_200_02:#e7e7e7; 
--purple_A400:#db1bfb; 
--blue_gray_700:#515151; 
--gray_200_05:#e8e8ea; 
--red_A700:#d90026; 
--gray_200_03:#e9e9e9; 
--gray_200_04:#eeeeee; 
--gray_600:#696a75; 
--orange_A200:#f99746; 
--red_A200:#fe5a5a; 
--amber_300:#f2c94c; 
--gray_200:#efefef; 
--blue_50:#e9f6fc; 
--gray_400_01:#c4c4c4; 
--gray_100_01:#f6f6f6; 
--blue_300:#699ff0; 
--gray_400_87:#c4c4c487; 
--blue_gray_400_01:#7e8ead; 
--white_A700:#ffffff; 
--indigo_800:#323282; 
--cyan_400:#28d4cd; 
--deep_orange_50:#ffe4e1; 
--indigo_A200:#6c63fe; 
--red_500:#ff3333; 
--pink_A200:#ff557e; 
--black_900:#000000; 
--deep_orange_200:#f0ad84; 
--gray_900_02:#1e1e1e; 
--deep_purple_800_a0:#443283a0; 
--gray_700:#636363; 
--gray_900_03:#181a2a; 
--gray_900_04:#191919; 
--white_A700_6d:#ffffff6d; 
--blue_gray_400:#8b8b8b; 
--blue_gray_900_04:#170f49; 
--gray_900_01:#26262b; 
--blue_gray_900_03:#1e2832; 
--gray_300:#e4e4e7; 
--gray_300_01:#e1e1e1; 
--teal_A400:#3ae88a; 
--white_A700_87:#ffffff87; 
--indigo_100:#c6bfff; 
--white_A700_01:#fdfdfd; 
--light_green_50:#f4f0e4; 
--indigo_900:#352474; 
}